/* for html2pdf to avoid cut div in two pages*/
div {page-break-inside: avoid}

.fiu_table{ /* pour centrer les tables */
    /*margin-left:auto;
    margin-right:auto;*/  
}

th, td {
  border: 1px solid black;
  padding:3px;
}

.Jour th, .Jour td {
  border: 1px solid black;
  padding:3px;
}

.Nuit th, .Nuit td {
  border: 1px solid white;
  padding:3px;
}

th .vertical:before {
   line-height:30px; 
   width:110px !important;
}

th .vertical{
    /*float: left;*/
    /*writing-mode: sideways-lr;*/
    text-align: left;          
    padding:0px;
    width:auto;
    /*width:120px;*/
    line-height:28px;
    /*display:inline-block;*/
    vertical-align:middle;
    -webkit-transform: rotate(270deg);   
    /*-webkit-transform-origin: 50% 50%; */
    
}

table {
  border-collapse: collapse;
}

.fiu_table {
  border-collapse: collapse;
}

.Nuit td, .Nuit th {
    color:white;
}

.Jour td, .Jour th {
    color:black;
}

.Nuit th {
    background:#4d4d4d;
}

.noborder {
  border:0px !important; 
  }
  
.rightalign {
  text-align:right;
  }

input {
    background: #d5d7dd;
  }

select {
    background: #d5d7dd;
  }

/* for displaying array (when ai_demo=1) */
 
xmp { display:inline; }

/* simple css image gallery thanks to https://codepen.io/ran0904/pen/bNpLvX */
 
.gallery {
  width: 500px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  width:200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.8,1.8);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

.biais { 
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);  
    transform:  rotate(-45deg);     
}

.button_add{
  margin-left:-6px;
  display:inline;
}

/* for recursive */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;  
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background:transparent;
  background-color: transparent; 
}
.iframe{
  padding: 10px 10px;
  /*background-color: ivory;*/
  width: 100%; /* Full width */
  height: 90%; /* Full height */
}

/* Modal Content/Box */
.modal-content {
  position:relative; 
  /*width:95%;*/
  margin-right:20px;
  height:100%;
  /*padding: 20px;
  border: 1px solid #888;
  width: 95%; 
  height: 95%; */
}

/* The Close Button */
.close {
  margin-left:-8px;
  margin-top:-8px;
  background:transparent;
  background-color:transparent;
  color: gray;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* recursive */
.modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background:yellow;
}
.iframe{
  padding: 10px 10px;
  width: 100%; 
  height: 90%; 
}

.modal-content {
  position:relative; 
  margin-right:20px;
  height:100%;
}

.close {
  margin-left:-8px;
  margin-top:-8px;
  background:transparent;
  background-color:transparent;
  color: gray;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
