/* https://codepen.io/chriscoyier/pen/eYNQyPe 
   https://blog.codepen.io/documentation/licensing/ */

.range-wrap {
  position: relative;
  width:175px;
  /*bottom:40px;*/
}
.bubble{
margin-left:5px;
/*vertical-align: center;*/
}
