/* for sortable table */

.Jour table.sortable thead {
    background-color:#cccccc;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

.Nuit table.sortable thead {
    background:#4d4d4d;
    color:ivory;
    font-weight: bold;
    cursor: default;
}
