/* Thanks to https://dev.to/stackfindover/how-to-create-a-simple-star-rating-no-javascript-80o
   I replace image by icon star ★ in his stylesheet */ 

.star-rating {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
}
.star-rating > input {
    display: none;
}
.star-rating > label {
    margin-top: auto;
    cursor: pointer;
    width: 20px;
    height: 28px;
    color:black;
    font-size:24px;

}
.star-rating > input:not(:checked) ~ label:hover,
.star-rating > input:not(:checked) ~ label:hover ~ label {
    color:#ffb723;
}

.star-rating > input:checked ~ label,
.star-rating > input:checked ~ label ~ label {
    color:#ffb723;
}
